<p-toast />
<div class="centered-title">
    <h2>
        <span style="color: rgb(50, 134, 57)">MIS </span>
        <span style="color: rgb(15, 15, 15)">RESERVAS</span>
    </h2>
</div>
<!--Tabla confiltro-->
<p-card>
    <div class="grid">
        <div class="sm:col-offset-3 sm:col-4 md:col-offset-4 md:col-4 xl:col-offset-9 xl:col-2">
            <p-iconField iconPosition="right">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" (input)="
            tablaReservaEspacioLista.filterGlobal($any($event.target)!.value, 'contains')
          " placeholder="Filtrar" [style]="{ width: '100%' }" />
            </p-iconField>
        </div>
    </div>
    <div class="grid">
        <div class="col-offset-1 col-10">
            <p-table [value]="listaReservas" #tablaReservaEspacioLista [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="true" [rows]="5"
                [globalFilterFields]="['fechaReservaEspacio', 'espacioAcademico','horario','isOcupado']"
                [rowsPerPageOptions]="[5, 10]">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th pSortableColumn="espacioAcademico.nombre">Espacio académico <p-sortIcon
                                field="espacioAcademico"></p-sortIcon></th>
                        <th pSortableColumn="fechaReservaEspacio">Fecha de reserva <p-sortIcon
                                field="fechaReservaEspacio"></p-sortIcon></th>
                        <th pSortableColumn="horario">Horario de reserva<p-sortIcon field="horario"></p-sortIcon></th>
                        <th pSortableColumn="isOcupado">Estado de la reserva<p-sortIcon field="isOcupado"></p-sortIcon>
                        </th>
                        <th>Acciones</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-reserva>
                    <tr>
                        <td>{{ reserva.espacioAcademico.nombre }}</td>
                        <td>{{ reserva.fechaReservaEspacio }}</td>
                        <td>{{ reserva.horario }}</td>
                        <td>
                            <p-tag [value]="reserva.ocupado ? 'ACTIVO' : 'INACTIVO'"
                                [severity]="getSeverity(reserva.ocupado)"></p-tag>
                        </td>
                        <td>
                            <p-button label="Cancelar reserva" (click)="abrirCancelarReservaModal(reserva)"
                                class="p-button-danger"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>

<p-dialog header="Agendar Aula" [modal]="true" [(visible)]="displayCancelarReserva" [style]="{ width: '30rem' }" closeOnEscape="false" closable="false">
    <div class="grid pb-0 mb-0">
      <div class="col-12 flex align-items-center gap-3 mb-3">
        <label for="espacioAcademico" class="font-semibold col-4">Espacio académico</label>
        <input pInputText type="text" id="espacioAcademico" class="flex-auto" autocomplete="off" [disabled]="true"
          [(ngModel)]="espacioAcademicoNombre" />
      </div>
      <div class="col-12 flex align-items-center gap-3 mb-3">
        <label for="fecha" class="font-semibold col-4">Día Seleccionado</label>
        <input pInputText type="text" id="fecha" class="flex-auto" autocomplete="off" [disabled]="true"
          [(ngModel)]="fechaSeleccionada" />
      </div>
      <div class="col-12 flex align-items-center gap-3 mb-5">
        <label for="horario" class="font-semibold col-4">Intervalo horario seleccionado</label>
        <input pInputText id="horario" class="flex-auto" autocomplete="off" [disabled]="true"
          [(ngModel)]="intervaloHorario" />
      </div>
      <div class="col-12 flex justify-content-end gap-2 mb-0 pb-0">
        <p-button label="Ignorar Cancelación" (onClick)="displayCancelarReserva = false" />
        <p-button label="Confirmar Cancelación" (onClick)="cancelarReserva()" />
      </div>
    </div>
  </p-dialog>