<div class="calendar-container col-12" *ngIf="grupoRelacionSeleccionado">
    <h2 class="col-12 flex justify-content-center ">{{grupoRelacionSeleccionado.nombre}}</h2>

    <div class="navigation col-12">
      <button pButton class="pi pi-arrow-left" (click)="changeWeek(-1)"></button>
      <button pButton class="pi pi-arrow-right" (click)="changeWeek(1)"></button>
    </div>

    <p-table [value]="listaTiempos" class="col-12 w-full">
      <ng-template pTemplate="header">
        <tr>
          <th>Horarios</th>
          <th *ngFor="let day of getCurrentWeek()">{{ day.label }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-time>
        <tr>
          <td>{{ time }}</td>
          <td *ngFor="let day of getCurrentWeek()" (click)="onCellClick(day.date, time)" [ngClass]="{
            'clickable': obtenerDisponibilidad(day.date, time) !== 'Ocupado',
            'no-hover': obtenerDisponibilidad(day.date, time) === 'Ocupado'
          }" class="clickable ">
            <span [ngClass]="{
                'occupied': obtenerDisponibilidad(day.date, time) === 'Ocupado',
                'available': obtenerDisponibilidad(day.date, time) === 'Disponible'
              }">
              {{ obtenerDisponibilidad(day.date, time) || 'Disponible' }}
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog header="Agendar Aula" [modal]="true" [(visible)]="display" [style]="{ width: '30rem' }" closeOnEscape="false" closable="false">
    <div class="grid pb-0 mb-0">
      <div class="col-12 flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold col-4">Día Seleccionado</label>
        <input pInputText type="text" id="username" class="flex-auto" autocomplete="off" [disabled]="true"
          [(ngModel)]="fechaSeleccionada" />
      </div>
      <div class="col-12 flex align-items-center gap-3 mb-5">
        <label for="email" class="font-semibold col-4">Intervalo horario seleccionado</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" [disabled]="true"
          [(ngModel)]="intervaloHorario" />
      </div>
      <div class="col-12 flex justify-content-end gap-2 mb-0 pb-0">
        <p-button label="Cancelar" severity="secondary" (onClick)="display = false" />
        <p-button label="Agendar" (onClick)="agendar()" />
      </div>
    </div>
  </p-dialog>