<p-toast />
<div class="centered-title">
    <h2>
        <span style="color: rgb(50, 134, 57)">ESPACIO </span>
        <span style="color: rgb(16, 17, 16)">ACADÉMICO</span>
    </h2>
</div>
<!--Tabla confiltro-->
<p-card>
    <div class="grid">
        <div class="flex col-offset-1 sm:col-3 md:col-2 xl:col-1">
            <p-button pRipple severity="success" label="Crear" icon="pi pi-plus" (click)="abrirCrearModal()"
                pTooltip="Abrir modal para crear un espacio académico" />
        </div>
        <div class="sm:col-offset-3 sm:col-4 md:col-offset-4 md:col-4 xl:col-offset-7 xl:col-2">
            <p-iconField iconPosition="right">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" (input)="
            tablaEspacioAcademico.filterGlobal($any($event.target)!.value, 'contains')
          " placeholder="Filtrar" [style]="{ width: '100%' }" />
            </p-iconField>
        </div>
    </div>

    <div class="grid">
        <div class="col-offset-1 col-10">
            <p-table [value]="listEspacioAcademico" #tablaEspacioAcademico [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="true" [rows]="5" [globalFilterFields]="['nombre']" [rowsPerPageOptions]="[5, 10]">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="nombre">N° semestre <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="descripcion">Descripción <p-sortIcon field="descripcion"></p-sortIcon></th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-espacioAcademico>
                    <tr>
                        <td>{{ espacioAcademico.nombre }}</td>
                        <td>{{ espacioAcademico.semestre }}</td>
                        <td>{{ espacioAcademico.descripcion }}</td>
                        <td>
                            &nbsp;
                            <p-button (onClick)="abrirEditarModal(espacioAcademico)" icon="pi pi-pencil"
                                styleClass="button-form"
                                pTooltip="Abrir modal para editar el espacio académico seleccionado"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>

<!-- Crear espacio académico-->
<p-dialog header="Agregar Espacio Académico" [closable]="false" [modal]="true"
    [(visible)]="displayCrearEspacioAcademico" [style]="{ width: '100%', 'max-width': '40rem' }">
    <div [formGroup]="fg!">
        <div class="grid pb-3">
            <div class="col-4 flex align-items-center">
                <label for="nombre" class="font-semibold w-6rem">Nombre:<span class="text-danger">*</span></label>
            </div>
            <div class="col-8">
                <input pInputText class="flex-grow-1 w-full" id="nombre" autocomplete="off" formControlName="nombre"
                    pTooltip="Ingrese el nombre del espacio" />
                <br />
                <small class="p-error"
                    *ngIf="fg.get('nombre')?.errors?.['required'] && (fg.get('nombre')?.dirty || fg.get('nombre')?.touched)">El
                    nombre es obligatorio</small>
            </div>
            <div class="col-4 flex align-items-center">
                <label for="semestre" class="font-semibold w-6rem">Semestre:<span class="text-danger">*</span></label>
            </div>
            <div class="col-8">
                <p-inputNumber id="semestre" name="semestre" inputStyleClass="flex-grow-1" formControlName="semestre"
                    [min]="0" autocomplete="off" [showButtons]="true" pTooltip="Ingrese el semestre "></p-inputNumber>
                <br />
                <small class="p-error"
                    *ngIf="fg.get('semestre')?.errors?.['required'] && (fg.get('semestre')?.dirty || fg.get('semestre')?.touched)">El
                    semestre es obligatorio</small>
            </div>
            <div class="col-4 flex align-items-center">
                <label for="descripcion" class="font-semibold w-6rem">Descripción:<span
                        class="text-danger">*</span></label>
            </div>
            <div class="col-8">
                <input pInputText class="flex-grow-1 w-full" id="descripcion" autocomplete="off"
                    formControlName="descripcion" pTooltip="Ingrese la descripción del espacio  académico" />
                <br />
                <small class="p-error"
                    *ngIf="fg.get('descripcion')?.errors?.['required'] && (fg.get('descripcion')?.dirty || fg.get('descripcion')?.touched)">El
                    nombre es obligatorio</small>
            </div>
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancelar" severity="secondary" (click)="cerrarCrearModal()" />
            <p-button label="Crear" (click)="crearEspacoAcademico()" />
        </div>
    </div>
</p-dialog>


<!-- Editar espacio académico-->
<p-dialog header="Editar Espacio Académico" [closable]="false" [modal]="true"
    [(visible)]="displayEditarEspacioAcademico" [style]="{width: '100%', 'max-width': '40rem'  }">
    <div [formGroup]="fg!">
        <div class="grid">
            <div class="col-4 flex align-items-center">
                <label for="nombre" class="font-semibold w-6rem">Nombre:<span class="text-danger">*</span></label>
            </div>
            <div class="col-8">
                <input pInputText class="flex-grow-1 w-full" id="nombre" autocomplete="off" formControlName="nombre"
                    pTooltip="Ingrese el nombre del espacio" />
                <br />
                <small class="p-error"
                    *ngIf="fg.get('nombre')?.errors?.['required'] && (fg.get('nombre')?.dirty || fg.get('nombre')?.touched)">El
                    nombre es obligatorio</small>
            </div>
            <div class="col-4 flex align-items-center">
                <label for="semestre" class="font-semibold w-6rem">Semestre:<span class="text-danger">*</span></label>
            </div>
            <div class="col-8">
                <p-inputNumber id="semestre" name="semestre" inputStyleClass="flex-grow-1" formControlName="semestre"
                    [min]="0" autocomplete="off" [showButtons]="true" pTooltip="Ingrese el semestre "></p-inputNumber>
                <br />
                <small class="p-error"
                    *ngIf="fg.get('semestre')?.errors?.['required'] && (fg.get('semestre')?.dirty || fg.get('semestre')?.touched)">El
                    semestre es obligatorio</small>
            </div>
            <div class="col-4 flex align-items-center">
                <label for="descripcion" class="font-semibold w-6rem">Descripción:<span
                        class="text-danger">*</span></label>
            </div>
            <div class="col-8">
                <input pInputText class="flex-grow-1 w-full" id="descripcion" autocomplete="off"
                    formControlName="descripcion" pTooltip="Ingrese la descripción del espacio  académico" />
                <br />
                <small class="p-error"
                    *ngIf="fg.get('descripcion')?.errors?.['required'] && (fg.get('descripcion')?.dirty || fg.get('descripcion')?.touched)">El
                    nombre es obligatorio</small>
            </div>
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancelar" severity="secondary" (click)="cerrarEditarModal()" />
            <p-button label="Editar" (click)="editarEspacioAcademico()" />
        </div>
    </div>
</p-dialog>