<p-toast />
<div class="centered-title">
    <h2>
        <span style="color: rgb(50, 134, 57)">GRUPOS</span>
    </h2>
</div>
<!--Tabla confiltro-->
<p-card>
    <div class="grid">
        <div class="flex col-offset-1 sm:col-3 md:col-2 xl:col-1">
            <p-button pRipple severity="success" label="Crear" icon="pi pi-plus" (click)="abrirCrearModal()"
                pTooltip="Abrir modal para crear un grupo" />
        </div>
        <div class="sm:col-offset-3 sm:col-4 md:col-offset-4 md:col-4 xl:col-offset-7 xl:col-2">
            <p-iconField iconPosition="right">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" (input)="
            tablaGrupoLista.filterGlobal($any($event.target)!.value, 'contains')
          " placeholder="Filtrar" [style]="{ width: '100%' }" />
            </p-iconField>
        </div>
    </div>

    <div class="grid">
        <div class="col-offset-1 col-10">
            <p-table [value]="listGrupos" #tablaGrupoLista [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true"
                [rows]="5" [globalFilterFields]="['nombreGrupo']" [rowsPerPageOptions]="[5, 10]">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th pSortableColumn="nombreGrupo">Nombre <p-sortIcon field="nombreGrupo"></p-sortIcon></th>
                        <th pSortableColumn="semestre">Semestre <p-sortIcon field="semestre"></p-sortIcon></th>
                        <th>Acciones</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-grupo>
                    <tr>
                        <td>{{ grupo.nombreGrupo }}</td>
                        <td>{{ grupo.semestre?.noSemestre }}</td>
                        <td class="text-center">
                           
                            <button pButton type="button" icon="pi pi-trash" class="p-button-danger"
                                (click)="eliminarGrupo(grupo)" pTooltip="Eliminar"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>
<!-- Crear grupo-->
<p-dialog header="Agregar grupo" [closable]="false" [modal]="true" [(visible)]="displayCrearGrupo"
    [style]="{ width: '100%', 'max-width': '25rem' }">
    <div [formGroup]="fg!">
        <div class="grid pb-3">
            <div class="col-4 flex align-items-center">
                <label for="nombreGrupo" class="font-semibold w-6rem">Nombre:<span class="text-danger">*</span></label>
            </div>

            <div class="col-8">
                <input pInputText class="flex-grow-1 w-full" id="nombreGrupo" autocomplete="off"
                    formControlName="nombreGrupo" pTooltip="Ingrese el nombre del espacio" />
                <br />
                <small class="p-error"
                    *ngIf="fg.get('nombreGrupo')?.errors?.['required'] && (fg.get('nombreGrupo')?.dirty || fg.get('nombreGrupo')?.touched)">El
                    nombre es obligatorio</small>
            </div>
        </div>

        <div class="grid pb-3">
            <div class="col-4 flex align-items-center">
                <label for="semestre" class="font-semibold w-6rem">Semestre:<span class="text-danger">*</span></label>
            </div>



            <p-dropdown id="semestre" name="semestre" optionLabel="noSemestre" [options]="listSemestres"
                (onChange)="SemestreSelecconado($event.value)" formControlName="semestre" optionValue="idSemestre"
                appendTo="body" placeholder="Seleccione" class="flex-grow-1 truncate-text col-6"
                [style]="{widtf:'100%'}" [showClear]="true">
            </p-dropdown>
        </div>


        <div class="flex justify-content-end gap-2">
            <p-button label="Cancelar" severity="secondary" (click)="cerrarCrearModal()" />
            <p-button label="Crear" (click)="creargrupo()" />
        </div>
    </div>
</p-dialog>


<!-- Editar Grupo-->
<p-dialog header="Editar Grupo" [closable]="false" [modal]="true" [(visible)]="displayEditarGrupo"
    [style]="{width: '100%', 'max-width': '25rem'  }">
    <div [formGroup]="fg!">
        <div class="grid">
            <div class="col-4 flex align-items-center">
                <label for="nombreGrupo" class="font-semibold w-6rem">Nombre:<span class="text-danger">*</span> </label>
            </div>
            <div class="col-8">
                <input pInputText class="flex-grow-1 w-full" id="nombreGrupo" autocomplete="off"
                    formControlName="nombreGrupo" pTooltip="Ingrese el nombre del espacio" maxlength="51" />
                <br />
                <small class="p-error"
                    *ngIf="fg.get('nombreGrupo')?.errors?.['required'] && (fg.get('nombreGrupo')?.dirty || fg.get('nombreGrupo')?.touched)">El
                    nombre es obligatorio</small>
            </div>

            <div class="col-4 flex align-items-center">
                <label for="semestre" class="font-semibold w-6rem">Semestre:<span class="text-danger">*</span>
                </label>
            </div>
            <div class="col-8">
                <input pInputText class="flex-grow-1 w-full" id="semestre" autocomplete="off" formControlName="semestre"
                    pTooltip="Ingrese el semestre del grupo" maxlength="51" />
                <br />
                <small class="p-error"
                    *ngIf="fg.get('semestre')?.errors?.['required'] && (fg.get('semestre')?.dirty || fg.get('semestre')?.touched)">El
                    semestre
                    es obligatoria</small>
            </div>


        </div>


        <div class="flex justify-content-end gap-2">
            <p-button label="Cancelar" severity="secondary" (click)="cerrarEditarModal()" />
            <p-button label="Editar" (click)="editarGrupo()" />
        </div>
    </div>
</p-dialog>